# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/build/
android/.gradle/
android/local.properties
android/app/build/
android/.cxx/
android/captures/
android/.externalNativeBuild/
*.aab
*.apk
output-metadata.json

# iOS
ios/Pods/
ios/build/
*.ipa
*.xcarchive

# Keystore / signing
*.jks
*.keystore

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE
.idea/
*.iml
*.ipr
*.iws
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.vscode/

# TypeScript
*.tsbuildinfo

# npm
.npmrc

# Google Services
google-services.json
GoogleService-Info.plist

# Android Profiling
*.hprof
